<div class='jumbotron jumbotron-fluid'>
  <div class='container'>
    <h1 class='display-3'>Power Trip</h1>
    <p class='lead'>Get There.</p>
  </div>
</div>

<div id='carouselExampleSlidesOnly' class='carousel slide' data-ride='carousel'>
  <div class='carousel-inner'>
    {{#each randImages as |image|}}
    <div class='carousel-item {{#if @first}}active{{/if}}'>
      <img
        class='d-block w-100'
        src={{image.image_url}}
        alt='First slide'
      />
    </div>
    {{/each}}
  </div>
</div>

<div class='container'>
  <div class='tripContainer w-50'>
    <div>
      <div class='plannedTrips'>
        <h2> Planned Trips </h2>
        <p>
          This will be where users can display their planned trips in the
          future.
        </p>

      </div>
    </div>

    <div>
      <div class='pastTrips'>
        <h2> Past Trips </h2>
        <p>
          This will be where users can display their past trips Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Ipsum minus fugit, nam
          odio sed quaerat ratione, libero natus sunt praesentium sequi,
          blanditiis fugiat ut. Rem sequi provident excepturi culpa natus.
        </p>
      </div>
    </div>

  </div>

  <div class='w-100'>
    <div class='updates'>
      <h2> Updates </h2>
      <p>
        This will be where users see other user updates Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Vero voluptates cum fuga dicta
        laudantium, impedit voluptate itaque consequatur, nemo aut atque
        similique illo. Doloribus mollitia eum porro aut ut vitae?
      </p>
    </div>
  </div>

</div>