    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Planned Trips </h5>
          <p class="card-text"> This will be where users can display their planned trips in the future. 

          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Past Trips </h5>
          <p class="card-text">This will be where users can display their past trips </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card text-right" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title"> Updates </h5>
          <p class="card-text"> This will be where other users display their public trips, popular trips, friend's trips, etc. </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>