/*home page styling */
@import './style.css';

.container {
    display: flex;
    /* width: 1200px; */
    margin: 0 auto;
    padding: 10px;
}

.plannedTrips {
    flex: 0 0 200px;
    padding: 5px; 
    border-radius: 5px;
}


.pastTrips {
    padding: 5px;
    border-radius: 5px;
}


.tripContainer {
    display: flex;
    /* flex-direction: */
    width: 500px;

}

#carouselSlides {
    width: 75%;
    height: 75%;
    background-color: #6E8898;
    border-radius: 25px;
    border: solid 3px;
    border-color: black;
}

.carousel-inner {
    border-radius: 25px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 75vh;
    object-fit: fill;
    border-radius: 25px;
}

.plan-link {
    text-decoration: none;
    color: black;
}

.plan-link:hover {
    color:#6E8898;
}

.footer {
    color: bisque;
    background-color:rgb(0, 0, 0);
    text-align: center;
}

.footer-link {
    text-decoration: none;
    color: bisque;
}

.footer-link:hover {
    color:#91972A;
}