/* *{
    margin:0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
} */
body{
    background: url("https://source.unsplash.com/1600x900/?travel") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card{
    background: #000000d0;
    border-radius: 30px;
    padding: 1em;
    margin: 1em;
    width: 100%;
    max-width: 600px;

}
 #username-login{
    padding: 10px;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
 }
 #password-login{
    padding: 10px;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
 }
