@import './style.css';

#userWelcome {
    padding: 15px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border: 3px solid var(--slate);
    margin-top: 15px;
    /* margin: auto; */
}

h5 {
    font-weight: 700;
    font-size: 32px;
    text-decoration: underline;
}

.profile-btn {
    width: fit-content;
    background-color: rgb(206, 126, 35);
    border: rgb(206, 126, 35);
}

.profile-btn:hover {
    background-color: var(--burlywood);
    border: var(--burlywood);
}

.profile-link {
    text-decoration: none;
    color:black;
    font-size: 24px;
}

.profile-link:hover {
    color:var(--slate);
}

.list-group-item {
    background-color: var(--bisque);
    border: none;
}
